@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.main-div
{
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: black;
}
.all-sections
{
	position: absolute;
	
}

html{
	scroll-behavior: smooth;
	overflow-x: hidden;
	overflow-y: auto;
}
body::-webkit-scrollbar{
	display: none;
}

														/*NAV bar STARTS HERE*/
.nav-bar
{	
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	height: 60px;
	width: 100vw;
	background: rgb(0, 0, 0, .5);
	backdrop-filter: blur(10px);
	border-bottom-left-radius: 15px;
  	border-bottom-right-radius: 15px;
}
.nav-icon
{
	height: 30px;
	width: 30px;
}
.location
{	
	margin-left: 5px;
	font-size: 15px;
	color: #C5EBC3;
}
.location:hover
{
	text-decoration: none;
	color: #FCF6B1;
}
.nav-item a
{	
	font-size: 19px;
	color: #F8B004;
}
                                                /*NAV bar ENDS HERE*/
											/*Home Div STARTS HERE*/
.home-div
{	
	position: relative;
	top: 0px;
	width: 100vw;
	height: 100%;
	background-image: url(https://cdn.midjourney.com/c9ef3ac4-c365-4c55-affb-9190de822714/0_0.webp);
	background-size: cover;
/*	backdrop-filter: blur(5px);*/
/*	filter: blur(10px);*/
/*	background: inherit;*/
/*	-webkit-backdrop-filter: blur(10px);*/
/*  	backdrop-filter: blur(10px); */
}
.bg-img
{	
/*	filter: blur(10px);*/
	height: 100%;
	width: 100%;
}
.logo img
{	
	position: absolute;
	top: 80px;
	left: 50px;
	height: 100px;
	width: 250px;
	box-shadow: black 10px;

}
.home-name
{
	height: 200px;
	width: 600px;
	padding: 10px;
	position: absolute;
	top: 270px;
	left: 70px;
	line-height: 60px;
	font-weight: bolder;
	font-size: 50px;
	text-shadow: 0px 0px 30px black;
	color: #F8B004;
}
.home-summary
{
	height: 150px;
	width: 550px;
/*	background: white;*/
	color: white;
	font-size: 20px;
	font-weight: bolder;
	position: absolute;
	top: 420px;
	left: 80px;
	text-shadow: 0px 0px 30px black;
	opacity: 1;
	animation: fade-out linear;
	animation-timeline: view();
	animation-range: exit -500px;
}
@keyframes fade-out
{
	to { opacity:0; }
}
.home-img1 img
{
	height: 700px;
	width: 400px;
/*	background: white;*/
	position: relative;
	top: 0px;
	left: 1000px;
	z-index: 1;
	background-size: cover;
	border-radius: 10px;
}
.home-img2 img
{	
	position: absolute;
	/*height: 200px;
	width: 200px;
	background: limegreen;*/
	top: 400px;
	right: 550px;
	z-index: 2;
	scale: 0.01;
	opacity: 0;
	animation: fade-in-for-pan linear forwards;
	animation-timeline: view();
	animation-range:entry -200px;
}
@keyframes fade-in-for-pan
{
	to { scale:1; opacity: 2}
}
.home-img3 img
{
	position: absolute;
	height: 200px;
	width: 300px;
	top: 50px;
	right: 0px;
	z-index: 2;
}
.home-img4 img
{
	position: absolute;
	height: 400px;
	width: 400px;
	top: 0px;
	right: 600px;
	z-index: 2;
}
.reserve-button
{
	position: absolute;
	top: 510px;
	left: 100px;
	padding: 5px;
	height: 40px;
	width: 100px;
	color: white;
	text-shadow: -2px -2px 10px black;
	background-color: #F8B004;
	border: none;
}
.explore-button
{
	position: absolute;
	top: 510px;
	left: 220px;
	padding: 5px;
	height: 40px;
	width: 100px;
	color: white;
	background-color: transparent;
	border-color: #F8B004;
}
                                                /*Home Div Ends HERE*/
											/*Special Dish Div Starts HERE*/
.special-dish-div
{
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100vw;
	background-color: black;
	z-index: 1;
}
.special-bg img
{
	height: 100vh;
	width: 100vw;
	background-size: cover;
	filter: blur(5px);
}
.special-dish-div h5
{
	position: absolute;
	top: 200px;
	left: 510px;
	height: 5%;
	width: 10%;
	font-size: 13px;
	color: white;
	z-index: 1;
}
.special-name
{
	height: 200px;
	width: 600px;
	padding: 10px;
	position: absolute;
	line-height: 60px;
	top: 220px;
	left: 490px;
	font-weight: bolder;
	font-size: 50px;
	color: #F8B004;
	text-shadow: 0px 0px 30px black;
}
.special-summary
{
	height: 150px;
	width: 550px;
	color: white;
	font-size: 20px;
	font-weight: bolder;
	position: absolute;
	top: 370px;
	left: 500px;
	text-shadow: 0px 0px 30px black;
}
.special-image img
{
	height: 400px;
	width: 250px;
	position: absolute;
	top: 150px;
	left: 70px;
	z-index: 1;
	box-shadow: 0px 0px 10px whitesmoke;
	background-size: cover;
	border-radius: 10px;
	scale: 0.8;
	opacity: 0;
	animation: fade-in linear forwards;
	animation-timeline: view();
	animation-range: 200px 500px;
}
@keyframes fade-in
{
	to { scale:1; opacity:1; }
}
.empty img
{	
	position: absolute;
	top: 150px;
	right: 70px;
	height: 400px;
	width: 250px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px whitesmoke;
	z-index: 1;
	scale: 0.8;
	opacity: 0;
	animation: fade-in linear forwards;
	animation-timeline: view();
	animation-range: 200px 500px;
}

                                             /*Special Dish Div Ends HERE*/
                                            /*Ingredients Div Starts HERE*/

.ingredients-div
{	
	position: relative;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	background-color: black;
	margin-bottom: 50px;
}
.ingredients-div-img img
{	
	height: 100vh;
	width: 100vw;
	object-fit: fill;
	filter: blur(5px);
	clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.drink-img
{
	height: 200px;
	width: 220px;
	object-fit: fill;
	position: absolute;
	top: -50px;
	right: 25%;
	z-index: 2;
	animation: zoom-in linear forwards;
	animation-timeline: view();
	animation-range: 50px 500px;
}
@keyframes zoom-in
{
	to { scale:2.5; }
}
.ingredients-div h1
{	
	position: absolute;
	top: 10%;
	left: 60%;
	height: 10%;
	width: 40%;
	font-weight: bolder;
	opacity: 0;
	z-index: 1;
/*	text-shadow: 0px 0px 10px black;*/
	animation: left-to-right linear forwards;
	animation-timeline: view();
	animation-range: 100px 300px;
}
@keyframes left-to-right
{
	to { transform: translateX(-145.5%); color: white; opacity:1; }
}
.ingredients-div span
{
	color: black;
}
.ingredients-div h6
{	
	position: absolute;
	top: 6%;
	left: 2%;
	height: 5%;
	width: 10%;
	color: white;
	z-index: 1;
}
.ingredients-div p
{	
	position: absolute;
	top: 27%;
	left: 2%;
	height: 10%;
	width: 40%;
	font-size: 15px;
	font-weight: bolder;
	color: whitesmoke;
	z-index: 1;
}
.ingredients-div-table table
{
	position: absolute;
	top: 40%;
	left: 0px;
	height: 50%;
	width: 100%;
	color: white;
	z-index: 1;
}
.shine
{	
	display: flex;
	justify-content: center;
	align-items: center;
	height: 250px;
	width: 400px;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px black;
	position: relative;
	overflow: hidden;
}
.shine1
{
	background-image: url(therealsork_ecological_food_meat_fruit_and_vegetables_dynamic_c_e75d4140-bb5c-41c2-bc82-f88b42303312.png);
	background-size: 400px 300px;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 10px white;
}
.shine2
{
	background-image: url(vince719_a_Chef_cooking_--ar_43_--style_raw_--stylize_750_8ce85707-001d-4aa1-b2bc-afefbff19faf.png);
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 10px white;
}
.shine3
{
	background-image: url(https://www.savoredjourneys.com/wp-content/uploads/2022/03/dining-experiences.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 10px white;
}
.shine::before
{
	content: '';
	position: absolute;
	background-color: rgb(255, 255, 255, 0.3);
	height: 250px;
	width: 60px;
	left: -127px;
	transform: skew(-30deg);
}
.shine:hover:before
{
	animation: slide 1s;
}
@keyframes slide
{
	0%,100%{left: -127px;}
	50%{left: 130%;}
}
.tr td
{	
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	text-shadow: 0px 0px 20px black;
}
.tr2
{
	font-size: 25px;
	font-weight: bolder;
	color: #F8B004;
}

												/*Ingredients Div Ends HERE*/
												 /*headsup Div Ends HERE*/
.headsup
{	
	height: 150vh;
	width: 100vw;
	background-color: black;
}
.headsup-name
{
	font-size: 300px;
	color: white;
	font-weight: bolder;
	font-variant: small-caps;
}
.headsup video
{
	margin-top: 30px;
	margin-left: 30px;
	border-radius: 20px;
}
.headsup-description
{
	position: relative;
	top: -300px;
	left: 700px;
}
.headsup-description h2
{
	font-size: 80px;
	font-weight: bolder;
	font-variant: small-caps;
	color: #F8B004;
}